body {
    background-color: #ddd;
    text-decoration: none;
}

#employees {
    margin: 0 20px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-weight: normal;
    margin: 35px 0 25px 60px;
}

.search {
    padding-bottom: 20px;
    margin-right: 45px;
}

.searchButton {
    float: right;
}

.searchField {
    float: right;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

p {
    font-size: .85em;
}

.text {
    background-color: #eee;
    font-family: sans-serif;
    float: left;
    display: block;
    max-width: 33%;
    color: black;
}

.image {
    border-radius: 100%;
    height: 25%;
    width: 25%;
    margin: 22px;
    float: left;
}

.employeeBox {
    display: inline-block;
    width: 30%;
    background-color: #eee;
    margin: 15px 20px 0 0;
    border: 3px solid rgba(145,145,145,.4);
    border-radius: 10px;
    transition-duration: .25s;
}

    .employeeBox:hover {
        box-shadow: #5B5B72 0 0 25px;
    }

.leftNav {
    background-image: url(../img/Arrow.svg);
    float: left;
    height: 30px;
    width: 30px;
    transform: rotate(90deg);
    transition-duration: .4s;
}

.rightNav {
    background-image: url(../img/Arrow.svg);
    float: right;
    height: 30px;
    width: 30px;
    transform: rotate(-90deg);
    transition-duration: .4s;
}

    .rightNav:hover,
    .leftNav:hover {
        padding: 2px;
        background-color: #3381AC;
        border-radius: 5px;
        cursor: pointer;
    }

.employeeName {
    text-transform: capitalize;

}

.employeeLocation {
    text-transform: capitalize;
}

.overlay {
    display: none;
    position: absolute;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    opacity: .60;
}

.exit {
    height: 22px;
    width: 54px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    background: #3381AC;
    border-radius: 10%;
    text-decoration: none;
}

.content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 45%;
    height: 45%;
    padding: 16px;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    border-radius: 10px;
    opacity: 1;
}

.modalImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

.modalText {
    text-align: center;
}

    .modalText p {
        font-size: 1.25em;
        font-family: sans-serif;
    }

    .modalText h4 {
        font-size: 1.5em;
        margin-top: 15px;
    }

.modalPhone {
    padding-top: 20px;
    border-top: 1px solid rgba(92, 132, 196, .4);
}

.modalLocation {
    text-transform: capitalize;
}

.modalName {
    text-transform: capitalize;
}

.modalUsername {
    padding-top: 20px;
    border-top: 1px solid rgba(92, 132, 196, .4);
}

div .credit {
    font-family: sans-serif;
    font-size: .75em;
    text-align: center;
    padding-top: 30px;
}